$primary-color: #eee;
$secondary-color: white;
$text-color: #333;

#main {
  background-color: $primary-color;
  margin: 1.8rem 0.8rem;
  border-radius: 5px;
  padding: 0 1rem;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;

  text-align: center;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Helvetica Neue', Arial, sans-serif;
  color: $text-color;
}

#title {
  font-size: 4rem;
  margin-bottom: 0;
  margin-top: 3rem;
  line-height: 0.85;
}

#subtitle {
  margin: 2rem auto 1rem;
}

#img-div {
  margin: 0;
  padding: 0 0.5rem;
  background-color: $secondary-color;
}

#img {
  max-width: 100%;
  overflow: visible;
  margin: 0 auto;
}

#img-caption {
  padding: 0.5rem;
  font-size: 1rem;
}

#tribute-info {
  margin: 2.5rem auto;
}

main {
  ol {
    max-width: 550px;
    padding: 1rem 3rem 0;
    margin: 0 auto;

    list-style-type: disc;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    text-align: justify;

    li {
      padding-bottom: 2rem;
      line-height: 1.5;
    }
    strong {
      text-align: left;
    }
  }
}

aside {
  font-style: italic;
}

#footer-div {
  font-weight: bold;
  font-size: 1.2rem;
}

a {
  color: #477ca7;
}

// @media() {
//   main {
//     ol {
//       margin: 50px auto 50px auto;
//     }
//   }
// }
